SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,api.vape-and-more.ma
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:3007,http://localhost:3007,https://vape-and-more.ma,https://www.vape-and-more.ma,https://api.vape-and-more.ma
CORS_ALLOWED_ORIGINS=http://127.0.0.1:3007,http://localhost:3007,https://vape-and-more.ma,https://www.vape-and-more.ma

SITE_PHONE=212764375156
SITE_EMAIL=contact@vape-and-more.ma
SITE_DEFAULT_LANG=fr

# Leave POSTGRES_HOST empty to use local SQLite during development.
POSTGRES_HOST=
POSTGRES_DB=vape_and_more
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
